<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.rjfun.cordova.plugin.appleiap"
      version="1.0">
      
    <name>InAppPurchaseManager</name>
	<description>Add Apple In-App Purchase support</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	
    <js-module src="www/InAppPurchaseManager.js" name="InAppPurchaseManager">
        <clobbers target="window.plugins.InAppPurchaseManager" />
    </js-module>

     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="InAppPurchaseManager">
                 <param name="ios-package" value="InAppPurchaseManager" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/InAppPurchaseManager.h" />
         <source-file src="src/ios/InAppPurchaseManager.m" />
         <header-file src="src/ios/SKProduct+LocalizedPrice.h" />
         <source-file src="src/ios/SKProduct+LocalizedPrice.m" />
         
 	     <framework src="StoreKit.framework" />
	</platform>
          
</plugin>
